<div class="container-fluid">
  <div class="row">
    <h4 class="text-center">Sign In</h4>
    <div class="col-lg-4 col-md-6 col-sm-8">

    </div>
    <div class="col-lg-4 col-md-6 col-sm-8">
      <form action="" method="post" [formGroup]="formGroup" (ngSubmit)="loginUser()">
        <input type="username" class="form-control" placeholder="John Doe" ng-model="username" aria-label="username"
          formControlName="username" autocomplete="on" aria-describedby="basic-addon1" id="username">
        <input type="password" placeholder="Password" class="form-control" ng-model="password" aria-label="password"
          formControlName="password" autocomplete="on" aria-describedby="basic-addon1" id="password">
        <a routerLink="/home"><button type="submit" value="Login" class="btn btn-outline-success btn-md">Login</button></a>
      </form>
    </div>
  </div>
</div>